<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    
    <title>Tvastra</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <i class="fas fa-bars"></i>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6>Admin</h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/adminhome">
                <li>Admin</li>
            </a>
            <a href="/adminusers">
                <li>Users</li>
            </a>
            <a href="/admindoctors">
                <li>Doctors</li>
            </a>
            <a href="/adminhospitals">
                <li>Hospitals</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <h6>Admin</h6>
        </div>
        <ul class="list">
            <a href="/adminhome">
                <li>Admin</li>
            </a>
            <a href="/adminusers">
                <li>Users</li>
            </a>
            <a href="/admindoctors">
                <li>Doctors</li>
            </a>
           
            <a href="/adminhospitals">
                <li>Hospitals</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <section class="change_number_container hide">
        <div class="change_number">
            <div class="part_1">
                <h3>Enter New Mobile Number</h3>
            </div>
            <div class="part_2" >
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="newphone" pattern="[6789][0-9]{9}">
                <button onclick="send()" class="sky-blue ">SEND OTP</button>  
            </div>
            <div class="part_3">
                <button class="dark-blue cancelview">Cancel</button>
            </div>
        </div>        
    </section>
    <section class="main_container">
        <div class="mob_header">
            <i class="fas fa-angle-double-right show-header"></i>
            <h3 class="show-header">Click to View Dashboard</h3>
            <div class="dashboard_phone hideit">
                <div class="part_1">
                    <i class="fas fa-angle-double-right"></i>
                    <h6>Dashboard</h6>
                </div>
                <ul class="part_2">
                    <a href="/adminhome"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Admin</h4>
                    </li></a>
                    <a href="/adminusers"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Users</h4>
                    </li></a>
                    <a href="admindoctors"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Doctors</h4>
                    </li></a>
                    <a href="/adminhospitals"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Hospitals</h4>
                    </li></a>
                </ul>
                <div class="part_3">
                    <i class="fas fa-angle-double-left"></i>
                    <h6 class="collapse">Collapse</h6>
                </div>
            </div>
        </div>
        <div class="mob_header_desktop ">
            <div class="part_1">
                <i class="fas fa-angle-double-right"></i>
                <h3>Dashboard</h3>
            </div>
            <ul class="part_2">
                <a href="/adminhome"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Admin</h4>
                </li></a>
                <a href="/adminusers"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Users</h4>
                </li></a>
                <a href="/admindoctors"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Doctors</h4>
                </li></a>
                <a href="/adminhospitals"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Hospitals</h4>
                </li></a>
            </div>
        </div>
        <form class="data_container" action="/adminprofile/<%= users._id %>" method="POST" enctype="multipart/form-data">
            <div class="part_1">
                <h4>My Profile</h4>
                <button class="sky-blue" type="submit">Save Changes</button>
            </div>
            <div class="part_2">
                <h6>Profile Photo</h6>
                <div class="profile_photo_section">
                    
                    <div class="photo_container">
                        
                        <div class="photo_name">
                            <img src="../assets/uploads/<%= users.image%>" alt="">
                            <div class="photo_text">
                                <p>Pick a photo for your system</p>
                                <label for="image-upload" class="input_label">Select Photo</label>
                                <input type="file" id="image-upload" name="image" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="input_block">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="name" value="<%=users.name%>" required>
                    </div>
                    
                </div>
            </div>
            <div class="part_3">
                <div class="input_block">
                    <label for="phone">Phone Number</label>
                    <div class="phone_input_container">
                        <input type="tel" name="phone" id="phone" value="<%= users.phone %>" pattern="[6789][0-9]{9}" readonly>
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                    
                </div>
                <div class="input_block">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" value="<%=users.email%>" readonly>
                </div>
                <div class="input_block">
                    <label for="gender">Gender</label>                    
                    <input type="text" id="gender" value="<%=users.gender%>" name="gender">
                </div>
                <div class="input_block">
                    <label for="dob">Date of Birth</label>
                    <input type="text" id="dob" value="<%=users.dob%>" name="dob">
                </div>
                <div class="input_block">
                    <label for="timezone">Time Zone</label>
                    <input type="text" id="timezone" name="timezone">
                </div>
            </div>
            <div class="part_4">
                <div class="input_block">
                    <label for="house">House Number/Street</label>
                    <input type="text" id="house" name="house">
                </div>
                <div class="input_block">
                    <label for="colony">Colony/Locality</label>
                    <input type="text" id="colony" name="colony">
                </div>
                <div class="input_block">
                    <label for="city">City</label>
                    <input type="text" id="city" value="<%=users.city%>" name="city">
                </div>
                <div class="input_block">
                    <label for="state">State</label>
                    <input type="text" id="state" value="<%=users.state%>" name="state">
                </div>
                <div class="input_block">
                    <label for="country">Country</label>
                    <input type="text" id="country" value="<%=users.country%>" name="country">
                </div>
            </div>
        </form>
    </section>
     <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="right">
                <a href="/src/client/views/query.html"><button class="sky-blue">Submit your enquiry</button></a>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
    <script src="../assets/scripts/profile.js"></script>
</body>
</html>