<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/doctor-profile.css">
    <title>Doctor's Profile</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <div class="picburgercontainer">
            <img class="mobimg" src="../assets/uploads/<%= user.image %>" alt="profile">
            <i class="fas fa-bars"></i>
        </div>
        
        <ul class="menubar">
            <a href="/doctor"><li>Doctors</li></a>
            <a href="/hospital"><li>Hospitals</li></a>
            <a href="/Dentistry"><li>Treatment</li></a>
            <a href="/about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6><%= name %></h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="/payments">
                <li>My Payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <img src="https://image.shutterstock.com/image-vector/user-avatar-icon-button-profile-260nw-1517550290.jpg" alt="profile image">
            <h6><%= name %></h6>
        </div>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="/payments">
                <li>My Payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>  
    <section class="top">
        <div class="heading_container">
            <h1>About <%= docinfo.name %></h1>
            <span>Home / Doctor Profile</span>
        </div>        
    </section>
    <section class="data">
        <div class="data_container">
            <div class="part1">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doctor's image">
                <button class="dark-blue">Book an appointment</button>
            </div>
            <div class="part2">
                <header>
                    <h2><%= docinfo.name %></h2>
                    <p><%= docinfo.description %></p>
                </header>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-award"></i>
                        <h4>Specialization</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><% for(var j=0;j<(JSON.parse(docinfo.specialization)).length;j++){%>
                        <%= JSON.parse(docinfo.specialization)[j].value %>,
                    <% } %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-stethoscope"></i>
                        <h4>List of treatments</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><% for(var j=0;j<(JSON.parse(docinfo.specialization)).length;j++){%>
                        <%= JSON.parse(docinfo.specialization)[j].value %>,
                    <% } %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-hospital"></i>
                        <h4>Work Experience</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><%= docinfo.experience %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-star"></i>
                        <h4>Qualification</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><% for(var j=0;j<(JSON.parse(docinfo.qualification)).length;j++){%>
                        <%= JSON.parse(docinfo.qualification)[j].value %>,
                    <% } %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-trophy"></i>
                        <h4>Awards</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><% for(var j=0;j<(JSON.parse(docinfo.awards)).length;j++){%>
                        <%= JSON.parse(docinfo.awards)[j].value %>,
                    <% } %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Location</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><%= docinfo.state %></p> 
                </div>
                <li class="heading">
                    <div class="part1">
                        <i class="fas fa-rupee-sign"></i>
                        <h4>Avg Fees</h4>
                    </div>
                    <div class="part2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </li>
                <div class="heading_data">
                    <p><%= docinfo.fees %></p> 
                </div>
            </div>
        </div>
    </section>
    
    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know. We will be happy to assist you</p>
            </div>
            <div class="right">
                <a href="/src/client/views/query.html"><button class="sky-blue">Submit your query</button></a>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script src="../assets/scripts/doctor-profile.js"></script>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
</body>
</html>