<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/doctor.css">
    <title>Doctor</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <div class="picburgercontainer">
            <img class="mobimg" src="../assets/uploads/<%= user.image %>" alt="profile">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6><%= user.name %></h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <img src="../assets/uploads/<%= user.image %>" alt="profile image">
            <h6><%= user.name %></h6>
        </div>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div> 
    <section class="intro">
        <h3>Doctors</h3>
    </section>
    <section class="doctors">
        <header class="sort">
            <h5>Home / Doctor List</h5>
            <form action="/sort" method="POST">
                <select name="sort" id="cars" onchange="this.form.submit()">
                    <option value="" disabled selected>Sort By</option>
                    <option value="name-asc">Name(Assc.)</option>
                    <option value="name-desc">Name(Desc.)</option>
                    <option value="fees-asc">Average Fee(Assc.)</option>
                    <option value="fees-desc">Average Fee(Desc.)</option>
                    <option value="experience-asc">Experience(Assc.)</option>
                    <option value="experience-desc">Experience(Desc.)</option>
                </select>
            </form>

        </header>
        <div class="doctor_container">
            <div class="left">
                <header class="filter_container">
                    <div class="filter_container_1">
                        <h6>Filter By</h6>
                    </div>
                    
                    
                </header>
                
                <% var l=[];
                var h=[];
                var h1=[];
                var t=[];
                var t1=[];
                for(var k=0;k<alldocs.length;k++){
                    if(!l.includes(alldocs[k].state)){
                        l.push(alldocs[k].state);
                    }
                    
                }
                for(var k=0;k<alldocs.length;k++){
                    if(!h1.includes(alldocs[k].hospitals)){
                        h1.push(alldocs[k].hospitals);
                        for(var j=0;j<(JSON.parse(alldocs[k].hospitals)).length;j++){
                            h.push(JSON.parse(alldocs[k].hospitals)[j].value);
                        };
                        
                    }
                    
                }
                for(var k=0;k<alldocs.length;k++){
                    if(!h1.includes(alldocs[k].specialization)){
                        t1.push(alldocs[k].specialization);
                        for(var j=0;j<(JSON.parse(alldocs[k].specialization)).length;j++){
                            t.push(JSON.parse(alldocs[k].specialization)[j].value);
                        };
                        
                    }
                    
                }
                
                
                
            %>
            <form action="/filter" method="POST">
                <div class="location">
                    <header>
                        <h6>Location</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <% for(var i=0;i<l.length;i++){ %>
                            <label class="labels" for="<%= l[i] %>">
                                <input type="checkbox" class="options" id="<%= l[i] %>" name="state" value="<%= l[i] %>" <% if(filter.includes(l[i])){ %>checked<%}else{%>unchecked<%}%> onchange="this.form.submit();">
                                <%= l[i] %></label>
                       <% } %>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
                <div class="treatment">
                    <header>
                        <h6>Treatment</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <% for(var i=0;i<t1.length;i++){ %>    
                            <label class="labels" for="<%= t1[i] %>">
                            <input type="checkbox" class="options" name="specialization" id="<%= t1[i] %>" value="<%= t1[i] %>" <% if(filter.includes(t1[i])){ %>checked<%}else{%>unchecked<%}%> onchange="this.form.submit();">
                            <%= t[i] %></label>
                        <% } %>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
                <div class="hospitals">
                    <header>
                        <h6>Hospitals</h6>
                        <i class="fas fa-search"></i>
                    </header>
                    <div class="data_container">
                        <% for(var i=0;i<h1.length;i++){ %>
                            <label class="labels" for="<%=h[i]%>">
                                <input type="checkbox" class="options" name="hospitals" id="<%=h1[i]%>" value="<%=h1[i]%>" <% if(filter.includes(h1[i])){ %>checked<%}else{%>unchecked<%}%> onchange="this.form.submit();">
                                <%=h[i]%></label>
                        <% } %>
                    </div>
                    <div class="bottom">
                        <p>+ Show More</p>
                    </div>
                </div>
            </form>
                
            </div>
            <div class="right">
                <% for(var i=0;i<docs.length;i++){%>
                    <figure class="doctor_card">
                        <figcaption>
                            <div class="name">
                            <a href="/doctor-profile/<%= docs[i].email %>"><h5><%= docs[i].name %></h5></a>
                            </div>
                            <ul>
                                <li>
                                    <span><i class="fas fa-certificate"></i></span>
                                    <% for(var j=0;j<(JSON.parse(docs[i].specialization)).length;j++){%>
                                        <%= JSON.parse(docs[i].specialization)[j].value %>,
                                    <% } %>
                                </li>
                                <li>
                                    <span><i class="fas fa-award"></i></span>
                                    <% for(var j=0;j<(JSON.parse(docs[i].qualification)).length;j++){%>
                                        <%= JSON.parse(docs[i].qualification)[j].value %>,
                                    <% } %>
                                </li>
                                <li>
                                    <span><i class="far fa-clock"></i></span>
                                    <%= docs[i].experience %>
                                </li>
                                <li>
                                    <span><i class="far fa-building"></i></span>
                                    <% for(var j=0;j<(JSON.parse(docs[i].hospitals)).length;j++){%>
                                        <%= JSON.parse(docs[i].hospitals)[j].value %>,
                                    <% } %>
                                </li>
                                <li>
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <%= docs[i].state %>
                                </li>
                            </ul> 
                            <div class="button_book">
                                <button class="dark-blue trigger" onclick="showslots('showslots<%=docs[i]._id %>','<%= docs[i]._id %>')">Book an appointment</button>
                            </div>
                        </figcaption>               
                        <div class="image">
                            <img src="../assets/uploads/<%= docs[i].image %>" alt="Doctor's Image">
                        </div>
                        <div class="part_2 hide" id="showslots<%= docs[i]._id %>">
                            <div class="leftarrow">
                                <i class="fas fa-chevron-left" onclick="movecar('left','slotmid<%=docs[i]._id%>')"></i>
                            </div>
                            <div class="mid" id="slotmid<%= docs[i]._id %>">
                                <div class="dates 0" id="0" onclick="showsubslots('subslots<%=docs[i]._id %>','<%=docs[i]._id %>', 0)">
                                    
                                </div>
                                <div class="dates 1" id="1" onclick="showsubslots('subslots<%=docs[i]._id %>','<%=docs[i]._id %>', 1)">
                                    
                                </div>
                                <div class="dates 2" id="2" onclick="showsubslots('subslots<%=docs[i]._id%>','<%=docs[i]._id %>', 2)">
                                    
                                </div>
                                <div class="dates 3 inactive" id="3" onclick="showsubslots('subslots<%=docs[i]._id %>','<%=docs[i]._id %>', 3)">
                                    
                                </div>
                                <div class="dates 4 inactive" id="4" onclick="showsubslots('subslots<%=docs[i]._id %>','<%= docs[i]._id%>', 4)">
                                    
                                </div>
                                <div class="dates 5 inactive" id="5" onclick="showsubslots('subslots<%=docs[i]._id %>','<%= docs[i]._id%>', 5)">

                                </div>
                                <div class="dates 6 inactive" id="6" onclick="showsubslots('subslots<%=docs[i]._id %>','<%= docs[i]._id%>', 6)">
                                    
                                </div>
                            </div>
                            <div class="rightarrow">
                                <i class="fas fa-chevron-right" onclick="movecar('right','slotmid<%=docs[i]._id%>')"></i>
                            </div>
                        </div>
                        <div class="part_3 hide" id="subslots<%= docs[i]._id %>">
                            <div class="slots">
                                <h5>Morning</h5>
                                <ul id="morning<%=docs[i]._id %>"></ul>
                            </div>
                            <div class="slots">
                                <h5>Afternoon</h5>
                                <ul id="afternoon<%=docs[i]._id %>"></ul>
                            </div>
                            <div class="slots">
                                <h5>Evening</h5>
                                <ul id="evening<%=docs[i]._id %>"></ul>
                            </div>
                        </div>             
                    </figure>
                <% } %>
                
            </div>
            
            
        </div>
    </section>
    <section class="pagination_container">
        <div class="pagination">
            <% for(var i=1;i<=lastpage;i++){ %>
                <a href="/doctor?page=<%= i %>">
                <%= i %>
            </a>
            <% } %>
        </div>
    </section>
    <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="right">
                <a href="/query.html"><button class="sky-blue">Submit your enquiry</button></a>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
    <script src="../assets/scripts/doctor.js"></script>
</body>
</html>