<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5fdca5a363.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/medicalreport.css">
    
    <title>Tvastra</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra"></a>
        </div> 
        <div class="picburgercontainer">
            <img class="mobimg" src="../assets/uploads/<%= user.image %>" alt="profile">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menubar">
            <a href="doctor"><li>Doctors</li></a>
            <a href="hospital"><li>Hospitals</li></a>
            <a href="Dentistry"><li>Treatment</li></a>
            <a href="about-us"><li>About</li></a>
        </ul>        
        <div class="top_button">
            <a href="tvastra-plus"><button class="sky-blue">Tvastra Plus</button></a>    
            <a href="query"><button class="dark-blue">Get a Quote</button></a>
            <div class="name_container">
                <h6><%= user.name %></h6>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
    </nav> 
    <div class="profile_section">
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra">
        </figure>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <div class="profile_section_2">
        <div class="part_1">
            <img src="../assets/uploads/<%= user.image %>" alt="profile image">
            <h6><%= user.name %></h6>
        </div>
        <ul class="list">
            <a href="/appointments">
                <li>My Appointments</li>
            </a>
            <a href="/records">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <% if(user.fees){ %>
                <a href="/add-schedule">
                    <li>Add Schedule</li>
                </a>
            <% } %>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>
    <section class="add_record_container hide"> <!-- container for the add record window-->
        <form class="add_record" action="/addrecords" method="POST" enctype="multipart/form-data"> <!--actual container-->
            <div class="part_1">
                <div class="part__1">
                    <i class="fas fa-plus"></i>
                    <label for="add-photo">Add Photo</label>
                </div>
                <div class="part__2">
                    <input type="file" name="files" id="add-photo" multiple >
                </div>
                <div class="inner_image" id="preview_sect">
                    <img src="" alt="" id="prev_0">
                    <img src="" alt="" id="prev_1">
                </div>
            </div>
            <div class="part_2">
                <input type="text" name="title" placeholder="title">
                <input type="text" name="name" placeholder="name">
                <input type="date" name="date">
            </div>
            <div class="part_3">
                <h4>Type of Report</h4>
                <div class="part__1">
                    <div class="input_container">
                        <input type="radio" name="report" id="report" value="report">
                        <label for="report">Report</label>
                        
                    </div>
                    <div class="input_container">   
                        <input type="radio" name="report" id="prescription" value="prescription">
                        <label for="prescription">Prescription</label>
                        
                    </div>
                    <div class="input_container">
                        <input type="radio" name="report" id="invoice" value="invoice">
                        <label for="invoice">Invoice</label>
                        
                    </div>
                    
                    
                </div>
            </div>
            <div class="part_4">
                <button type="submit" class="sky-blue">Done</button>
                <button class="dark-blue cancel">Cancel</button>
            </div>
        </form> 
    </section>
    <section class="main_container">
        <div class="mob_header">
            <i class="fas fa-angle-double-right show-header"></i>
            <h3 class="show-header">Click to View Dashboard</h3>
            <div class="dashboard_phone hideit">
                <div class="part_1">
                    <i class="fas fa-angle-double-right"></i>
                    <h6>Dashboard</h6>
                </div>
                <ul class="part_2">
                    <a href="/profile"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Profile</h4>
                    </li></a>
                    <a href="/appointments"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Appointments</h4>
                    </li></a>
                    <a href="/records"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Medical Reports</h4>
                    </li></a>
                    <% if(user.fees){ %>
                        <a href="/add-schedule">
                            <li class="menu_items">
                                <i class="fas fa-file-alt"></i>
                                <h4>Add Schedule</h4>
                            </li>
                        </a>
                    <% } %>
                    
                    <a href="settings"><li class="menu_items">
                        <i class="fas fa-file-alt"></i>
                        <h4>Settings</h4>
                    </li></a>
                </ul>
                <div class="part_3">
                    <i class="fas fa-angle-double-left"></i>
                    <h6 class="collapse">Collapse</h6>
                </div>
            </div>
        </div>
        <div class="mob_header_desktop ">
            <div class="part_1">
                <i class="fas fa-angle-double-right"></i>
                <h3>Dashboard</h3>
            </div>
            <ul class="part_2">
                <a href="/profile"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Profile</h4>
                </li></a>
                <a href="/appointments"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Appointments</h4>
                </li></a>
                <a href="/records"><li class="menu_items current">
                    <i class="fas fa-file-alt"></i>
                    <h4>Medical Reports</h4>
                </li></a>
                <% if(user.fees){ %>
                    <a href="/add-schedule">
                        <li class="menu_items">
                            <i class="fas fa-file-alt"></i>
                            <h4>Add Schedule</h4>
                        </li>
                    </a>
                <% } %>
                <a href="settings"><li class="menu_items">
                    <i class="fas fa-file-alt"></i>
                    <h4>Settings</h4>
                </li></a>
            </div>
        </div>
        <div class="data_container">
            <div class="part_1">
                <h2>Medical Records</h2>
                <button class="sky-blue add-records">Add Records</button>
            </div>
            <div class="part_2">
                <% for(var i=0;i<record.length;i++) { %>    
                    <div class="inner_data">
                        <div class="part_1">
                            <h6><%= record[i].date %></h6>
                        </div>
                        <ul class="part_2">
                            <li><%= record[i].name %></li>
                            <li><%= record[i].title %></li>
                            <li><%= record[i].report %></li>
                        </ul>
                        <div class="part_3">
                            <form action="/deleterecord/<%=record[i]._id %>" method="POST">
                                <button type="submit" class="sky-blue">Delete</button>
                            </form>                            
                        </div>
                    </div>
                <% } %>    
            </div>
        </div>
    </section>
     <section class="help">
        <div class="help_container">
            <div class="left">
                <h2>Need Help?</h2>
                <p>Just let us know, we will happy to assist you</p>
            </div>
            <div class="right">
                <a href="/src/client/views/query.html"><button class="sky-blue">Submit your enquiry</button></a>
            </div>
        </div>       
    </section>
    <footer class="footer">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
        
            <ul class="tags">
                <a href="doctor"><li>Doctors</li></a>
                <a href="hospital"><li>Hospitals</li></a>
                <a href="Dentistry"><li>Treatment</li></a>
                <a href="contact"><li>Contact Us</li></a>
                <a href="FAQ"><li>FAQs</li></a>
            </ul>
        
        <div class="logos">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright">
            <p>All Rights Reserved. © tvastra 2021</p>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/scripts/index.js"></script>
    <script src="../assets/scripts/profile.js"></script>
    <script src="../assets/scripts/medicalreport.js"></script>
    <script>
        const inpFile = document.getElementById('add-photo');
        
        inpFile.addEventListener("change", function(){
            for(var i=0;i<this.files.length;i++){
                const file = this.files[i];
                const previmg = document.getElementById(`prev_${i}`);
                console.log(this.files);
                if(file){
                    const reader = new FileReader();
                    previmg.style.display="block";
                    reader.addEventListener("load",function(){
                        previmg.setAttribute("src", this.result);
                    });
                    reader.readAsDataURL(file);
                }
            }
        })
        
    </script>
</body>
</html>